In [5]:
! pip install --user lazypredict

Requirement already satisfied: lazypredict in c:\users\patri.desktop-daf3gs1\appdata\roaming\python\python38\site-packages (0.2.9)
Requirement already satisfied: pytest==5.4.3 in c:\users\patri.desktop-daf3gs1\appdata\roaming\python\python38\site-packages (from lazypredict) (5.4.3)
Requirement already satisfied: numpy==1.19.1 in c:\users\patri.desktop-daf3gs1\appdata\roaming\python\python38\site-packages (from lazypredict) (1.19.1)
Requirement already satisfied: click==7.1.2 in d:\anaconda3\lib\site-packages (from lazypredict) (7.1.2)
Requirement already satisfied: tqdm==4.56.0 in c:\users\patri.desktop-daf3gs1\appdata\roaming\python\python38\site-packages (from lazypredict) (4.56.0)
Requirement already satisfied: lightgbm==2.3.1 in c:\users\patri.desktop-daf3gs1\appdata\roaming\python\python38\site-packages (from lazypredict) (2.3.1)
Requirement already satisfied: xgboost==1.1.1 in c:\users\patri.desktop-daf3gs1\appdata\roaming\python\python38\site-packages (from lazypredict) (1.1.1)
Requirement already satisfied: scipy==1.5.4 in c:\users\patri.desktop-daf3gs1\appdata\roaming\python\python38\site-packages (from lazypredict) (1.5.4)
Requirement already satisfied: scikit-learn==0.23.1 in c:\users\patri.desktop-daf3gs1\appdata\roaming\python\python38\site-packages (from lazypredict) (0.23.1)
Requirement already satisfied: PyYAML==5.3.1 in d:\anaconda3\lib\site-packages (from lazypredict) (5.3.1)
Requirement already satisfied: pandas==1.0.5 in c:\users\patri.desktop-daf3gs1\appdata\roaming\python\python38\site-packages (from lazypredict) (1.0.5)
Requirement already satisfied: joblib==1.0.0 in d:\anaconda3\lib\site-packages (from lazypredict) (1.0.0)
Requirement already satisfied: six==1.15.0 in d:\anaconda3\lib\site-packages (from lazypredict) (1.15.0)
Requirement already satisfied: scipy==1.5.4 in c:\users\patri.desktop-daf3gs1\appdata\roaming\python\python38\site-packages (from lazypredict) (1.5.4)
Requirement already satisfied: scikit-learn==0.23.1 in c:\users\patri.desktop-daf3gs1\appdata\roaming\python\python38\site-packages (from lazypredict) (0.23.1)
Requirement already satisfied: numpy==1.19.1 in c:\users\patri.desktop-daf3gs1\appdata\roaming\python\python38\site-packages (from lazypredict) (1.19.1)
Requirement already satisfied: pytz>=2017.2 in d:\anaconda3\lib\site-packages (from pandas==1.0.5->lazypredict) (2020.4)
Requirement already satisfied: python-dateutil>=2.6.1 in d:\anaconda3\lib\site-packages (from pandas==1.0.5->lazypredict) (2.8.1)
Requirement already satisfied: numpy==1.19.1 in c:\users\patri.desktop-daf3gs1\appdata\roaming\python\python38\site-packages (from lazypredict) (1.19.1)
Requirement already satisfied: pluggy<1.0,>=0.12 in d:\anaconda3\lib\site-packages (from pytest==5.4.3->lazypredict) (0.13.1)
Requirement already satisfied: packaging in d:\anaconda3\lib\site-packages (from pytest==5.4.3->lazypredict) (20.8)
Requirement already satisfied: wcwidth in d:\anaconda3\lib\site-packages (from pytest==5.4.3->lazypredict) (0.2.5)
Requirement already satisfied: atomicwrites>=1.0 in d:\anaconda3\lib\site-packages (from pytest==5.4.3->lazypredict) (1.4.0)
Requirement already satisfied: py>=1.5.0 in d:\anaconda3\lib\site-packages (from pytest==5.4.3->lazypredict) (1.10.0)
Requirement already satisfied: colorama in d:\anaconda3\lib\site-packages (from pytest==5.4.3->lazypredict) (0.4.4)
Requirement already satisfied: attrs>=17.4.0 in d:\anaconda3\lib\site-packages (from pytest==5.4.3->lazypredict) (20.3.0)
Requirement already satisfied: more-itertools>=4.0.0 in d:\anaconda3\lib\site-packages (from pytest==5.4.3->lazypredict) (8.6.0)
Requirement already satisfied: pyparsing>=2.0.2 in d:\anaconda3\lib\site-packages (from packaging->pytest==5.4.3->lazypredict) (2.4.7)
Requirement already satisfied: six==1.15.0 in d:\anaconda3\lib\site-packages (from lazypredict) (1.15.0)
Requirement already satisfied: scipy==1.5.4 in c:\users\patri.desktop-daf3gs1\appdata\roaming\python\python38\site-packages (from lazypredict) (1.5.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\anaconda3\lib\site-packages (from scikit-learn==0.23.1->lazypredict) (2.1.0)
Requirement already satisfied: numpy==1.19.1 in c:\users\patri.desktop-daf3gs1\appdata\roaming\python\python38\site-packages (from lazypredict) (1.19.1)
Requirement already satisfied: joblib==1.0.0 in d:\anaconda3\lib\site-packages (from lazypredict) (1.0.0)
Requirement already satisfied: numpy==1.19.1 in c:\users\patri.desktop-daf3gs1\appdata\roaming\python\python38\site-packages (from lazypredict) (1.19.1)
Requirement already satisfied: scipy==1.5.4 in c:\users\patri.desktop-daf3gs1\appdata\roaming\python\python38\site-packages (from lazypredict) (1.5.4)
Requirement already satisfied: numpy==1.19.1 in c:\users\patri.desktop-daf3gs1\appdata\roaming\python\python38\site-packages (from lazypredict) (1.19.1)

In [7]:
import pandas as pd
import numpy as np
import sklearn
import time

from sklearn.model_selection import train_test_split
#from lazypredict.Supervised import LazyRegressor


pd.options.mode.chained_assignment = None  # default='warn'
pd.options.display.float_format = '{:,.4f}'.format

### Reading the inicial data

In [8]:
df=pd.read_csv("Client_country_info.csv",sep=',')
#inicial dataframe with data from the countries included in the Client Data

dfB=pd.read_csv("Projection_Table.csv",sep=',')
#dataframe that has the estimated daily vaccination per population for each country in the Client Data

In [9]:
df

,location,continent,total_cases,total_cases_per_million,people_vaccinated,total_vaccinations_per_hundred,people_fully_vaccinated_per_hundred,stringency_index,population,population_density,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,HDI,distance
0,Albania,Europe,"115,442.0000","40,114.6710","6,073.0000",0.7500,0.0200,89.8100,2877800,104.8710,...,1.1000,304.1950,10.0800,7.1000,51.2000,nan,2.8900,78.5700,0.7950,"9,146,807.1600"
1,Algeria,Africa,"114,851.0000","2,619.1170",nan,0.1700,nan,92.1300,43851043,17.3480,...,0.5000,278.3640,6.7300,0.7000,30.4000,83.7410,1.9000,76.8800,0.7480,"8,769,592.9440"
2,Andorra,Europe,"11,130.0000","144,049.6990","3,650.0000",6.3600,1.6400,59.2600,77265,163.7550,...,nan,109.1350,7.9700,29.0000,37.8000,nan,nan,83.7300,0.8680,"7,844,922.9970"
3,Anguilla,North America,nan,nan,"3,929.0000",26.1900,nan,nan,15002,nan,...,nan,nan,nan,nan,nan,nan,nan,81.8800,0.8650,"3,808,635.4800"
4,Argentina,South America,"2,177,898.0000","48,188.0860","1,564,555.0000",4.2500,0.7800,100.0000,45195777,16.1770,...,0.6000,191.0320,5.5000,16.2000,27.7000,nan,5.0000,76.6700,0.8450,"9,017,651.7920"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,United Kingdom,Europe,"4,254,714.0000","62,674.3920","23,053,716.0000",35.9500,1.9900,87.9600,67886004,272.8980,...,0.2000,122.1370,4.2800,20.0000,24.7000,nan,2.5400,81.3200,0.9320,"6,830,409.6470"
117,United States,North America,"29,286,134.0000","88,477.0390","64,071,674.0000",29.3600,10.1300,75.4600,331002647,35.6080,...,1.2000,151.0890,10.7900,19.1000,24.6000,nan,2.7700,78.8600,0.9260,0.0000
118,Uruguay,South America,"67,717.0000","19,494.0480","170,134.0000",4.9000,nan,72.2200,3473727,19.7510,...,0.1000,160.7080,6.9300,14.0000,19.9000,nan,2.8000,77.9100,0.8170,"8,780,558.9860"
119,Venezuela,South America,"144,277.0000","5,073.7550","12,194.0000",0.0400,nan,90.7400,28435943,36.2530,...,nan,204.8500,6.4700,nan,nan,nan,0.8000,72.0600,0.7110,"4,507,978.1350"
120,Zimbabwe,Africa,"36,377.0000","2,447.4990","36,019.0000",0.2400,nan,87.9600,14862927,42.7290,...,21.4000,307.8460,1.8200,1.6000,30.7000,36.7910,1.7000,61.4900,0.5710,"14,330,315.1400"

In [10]:
dfB

,country,population,daily_rate,num_datapoints,R2,daily_rate_pop
0,Albania,2877800,641.7286,20,0.6125,0.0002
1,Algeria,43851043,"37,500.0000",3,0.7503,0.0009
2,Andorra,77265,336.0000,7,0.9829,0.0043
3,Anguilla,15002,"1,320.8000",4,0.9985,0.0880
4,Argentina,45195777,"22,632.6928",48,0.9405,0.0005
...,...,...,...,...,...,...
116,United Kingdom,67886004,"392,076.3937",59,0.9982,0.0058
117,United States,331002647,"1,430,393.8830",63,0.9857,0.0043
118,Uruguay,3473727,"14,473.6857",6,0.9733,0.0042
119,Venezuela,28435943,"6,097.0000",3,0.7597,0.0002
120,Zimbabwe,14862927,"2,695.9582",14,0.9906,0.0002

In [11]:
df.columns

Index(['location', 'continent', 'total_cases', 'total_cases_per_million',
       'people_vaccinated', 'total_vaccinations_per_hundred',
       'people_fully_vaccinated_per_hundred', 'stringency_index', 'population',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'HDI', 'distance'],
      dtype='object')

### Selecting a model

#### Here we run the lazypredict library in search of a model that better suits our case

In [12]:
X1=df[['population','gdp_per_capita','HDI']] # selecting the variables to apply in the model
Y1=dfB['daily_rate_pop'] #target variable

In [13]:
X_train1, X_test1, Y_train1, Y_test1 =train_test_split(X1,Y1,test_size=.3,random_state =2) 
regr=LazyRegressor(verbose=0,predictions=True)

NameError: name 'LazyRegressor' is not defined

In [14]:
start_time_2=time.time()
models_r,predictions_r=regr.fit(X_train1, X_test1, Y_train1, Y_test1)
end_time_2=time.time()

NameError: name 'regr' is not defined

In [15]:
models_r

NameError: name 'models_r' is not defined

In [16]:
#Here we are going to run the lazyRegressor sometimes with different states, because we have a small dataset so the R2
#statistic can vary signifcantly
i=0
models_sum=[[]]
for i in range(0,10):
    X_train1, X_test1, Y_train1, Y_test1 =train_test_split(X1,Y1,test_size=.3,random_state =i)
    regr=LazyRegressor(verbose=0,predictions=True)
    models_r,predictions_r=regr.fit(X_train1, X_test1, Y_train1, Y_test1)
    if i == 0:
        models_sum=models_r
    else:
        models_sum= models_sum + models_r
models_sum=models_sum/10

NameError: name 'LazyRegressor' is not defined

In [17]:
models_sum.sort_values(by=['R-Squared'], ascending=False)

AttributeError: 'list' object has no attribute 'sort_values'

#### We conclude that RandomForestRegressor seems to be the better process for our case.

### Applying the selected model (RandomForestRegressor)

In [18]:
#now lets apply it to the whole dataframe that we have

from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

regr = RandomForestRegressor(random_state=0)
regr.fit(X1, Y1)

RandomForestRegressor(random_state=0)

In [19]:
dfC = pd.read_csv("NOTclient_country_info.csv", sep=',')

In [20]:
dfC.columns

Index(['location', 'continent', 'total_cases', 'total_cases_per_million',
       'people_vaccinated', 'total_vaccinations_per_hundred',
       'people_fully_vaccinated_per_hundred', 'stringency_index', 'population',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'HDI', 'distance'],
      dtype='object')

In [21]:
# lets exclude the missing data from the selected variables
dfC.dropna(subset=['population','gdp_per_capita','HDI'],inplace=True)

In [22]:
#Adding a new column with the predicted values for vaccinations per day per population
dfC['pred_vac_day_pop'] = regr.predict( dfC[['population','gdp_per_capita','HDI']] )

In [23]:
dfC[['location','pred_vac_day_pop']]

               location  pred_vac_day_pop
0           Afghanistan            0.0038
2                Angola            0.0012
3   Antigua and Barbuda            0.0189
4               Armenia            0.0007
6               Bahamas            0.0060
..                  ...               ...
88              Vanuatu            0.0136
90              Vietnam            0.0005
91                World            0.0040
92                Yemen            0.0037
93               Zambia            0.0006

[85 rows x 2 columns]

### Turning the variable values into Scores

In [24]:
#Receives a particular column and returns a score: a number between 1 and 10, depending on the bin that that number fits
def normalized_score(df_src, column_name, apply_log=True):
    i=0
    df=df_src.copy()
    if apply_log:
        df['log']=np.log(df[column_name]+0.00001)
    else:
        df['log']=df[column_name]
    
    df['log_score']=0
    for i in range(0,10):
        j=0
        for j,v in df['log'].items():
            if df.log[j] in df['log'].value_counts(bins=10, sort=False,normalize= True).index[i]:
                df['log_score'][j] = i+1 # score of 10 for the higher numbers
        
            if df.log[j]==df.log[j] and df['log_score'][j]==0: # special exception for the highest number, for it gets excluded from the interval
                df['log_score'][j]=10
    
    return df['log_score']

In [25]:
#now we create a dataframe to store the locations and the respective selected variables scores

dfD=pd.DataFrame(dfC['location'])
dfD['gdp_score']      =normalized_score(dfC, 'gdp_per_capita', apply_log=True)
dfD['HDI_score']      =normalized_score(dfC, 'HDI', apply_log=False) # HDI is already a index containing log
dfD['daily_vac_score']=normalized_score(dfC, 'pred_vac_day_pop', apply_log=True)
dfD['pop_score']      =normalized_score(dfC, 'population', apply_log=True)
dfD['distance']      =normalized_score(dfC, 'distance', apply_log=True)

In [26]:
dfD

,location,gdp_score,HDI_score,daily_vac_score,pop_score,distance
0,Afghanistan,4,3,6,6,9
2,Angola,6,4,3,6,9
3,Antigua and Barbuda,8,8,10,1,4
4,Armenia,7,8,2,4,8
6,Bahamas,9,9,7,2,1
...,...,...,...,...,...,...
88,Vanuatu,5,5,10,2,9
90,Vietnam,6,7,1,7,10
91,World,8,7,6,10,0
92,Yemen,3,2,6,6,10
93,Zambia,5,5,1,5,10

In [27]:
dfD.to_csv('scores.csv', index=False)